*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Serif Display" sans-serif;
  font-weight: 400;
  background: linear-gradient(to right, #201658, #8e7ab5);
}

.calculator-container {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 0.625rem;
  min-height: 100vh;
  grid-template-columns: repeat(4, 6.25rem);
  grid-template-rows: minmax(5.5rem, auto) repeat(5, 6.25rem);
}

.calculator-container > button {
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  border-radius: 0.9rem;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-container > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.display-output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.625rem;
  border-radius: 0.9rem;
  word-wrap: break-word;
  word-break: break-all;
  margin-bottom: 0.1rem;
}

.display-output .prev-operation {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
}

.display-output .curr-operation {
  color: white;
  font-size: 2rem;
}

.disabled-buttons {
  pointer-events: none;
  opacity: 0.4;
}

.disabled-display {
  opacity: 0.7;
}

@media screen and (max-width: 500px) {

  .calculator-container {
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: minmax(5.5rem, auto) repeat(5, 10%);
  }
}