:root {
    --font-color: #242124;
    --font-calc: 'Calculator',
        sans-serif;
    --font-lcd: 'Scientific Calculator LCD',
        sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #004242;
}

.container {
    height: 100vh;
}

.calculator {
    flex-direction: column;
    gap: .25rem;
}

.calculator__top {
    width: 25rem;
    height: 5rem;
}

.calculator__top input {
    width: inherit;
    height: inherit;
    border: none;
    outline: none;
    font-size: 2rem;
    direction: rtl;
    padding-inline: .25rem;
    color: var(--font-color);
    font-family: var(--font-lcd);
}

.button-row button {
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 0;
    outline: none;
    border: .0625rem solid rgba(0, 0, 0, .05);
}

.button-row button span {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--font-color);
    font-family: var(--font-calc);
}

.colored-action {
    background-color: #ffb900;
}

.colored-action:hover {
    background-color: #ffa000;
}